:root {
  --primary-color: #885df1;
  --secondary-color: #272044;
}
body {
  font-family: "Rubik", sans-serif;
  padding: 0;
}
.bg-white {
  background-color: #fff !important;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  background: rgba(255, 255, 255, 0.97);
}
.nav-link,
.navbar-toggler,
.navbar-brand {
  color: (var(--secondary-color));
  transition: all 150ms ease-in-out;
  border-radius: 12px;
  padding: 12px;
  font-size: 13px;
  text-transform: uppercase;
}
.nav-link:hover,
.navbar-brand:hover {
  background: #f5f2fe;
  color: (var(--secondary-color));
  transform: scale(1.01);
  padding: 12px;
}

.info-top {
  background: linear-gradient(0, #f7f3ff 0%, #fff 100%);
}
.intro {
  margin-top: 70px;
  max-width: 1110px;
  margin: 30px auto;
  padding: 30px;
}

h1 {
  font-weight: 400;
  font-size: 72px;
  margin-bottom: 20px;
  color: var(--primary-color);
}
h2 {
  font-weight: 300;
  margin-bottom: 20px;
  color: (var(--secondary-color));
  font-size: 25px;
}
h3 {
  font-weight: 300;
  color: (var(--secondary-color));
  font-size: 30px;
}
.rounded-pill {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
  font-size: 20px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.rounded-pill:hover {
  background-color: white;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transform: scale(1.075);
}
.me {
  border-radius: 12px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.info-cards {
  max-width: 800px;
  padding: auto;
}
.card {
  min-width: 18rem;
  padding: 10px;
  text-align: center;
}
.card-img-top {
  height: 189px;
  max-width: 100%;
}
.read-more {
  border-radius: 50px;
  background: transparent;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 22px;
  padding: 10px 20px;
  border: none;
  border: 1px solid var(--primary-color);
}
.read-more:hover {
  background-color: var(--primary-color);
  color: white;
  border-color: hsl(257, 84%, 65%);
}
.contact-card {
  background-color: hsl(257, 84%, 65%, 20%);
  max-width: 100%;
  vertical-align: middle;
  margin: 30px auto;
}
.contact-row {
  padding-top: 20px;
}

.text-end {
  padding-right: 10px;
}
@media (max-width: 576px) {
  h1,
  h2,
  .text-end,
  .button-end {
    text-align: center !important;
  }
  .button-end {
    margin-bottom: 5px;
  }
  h1,
  h3 {
    font-size: 23px;
  }
  h2,
  p,
  .card-title {
    font-size: 15px;
  }
  .rounded-pill,
  .card-text,
  .read-more {
    font-size: 12px;
  }
  .rounded-pill {
    display: block;
    margin: auto;
  }
}
